:root {
	--black: #000000;
	--white: #ffffff;
	--cream: #F1EFE5;
	--green: #649F8E;
	--orange: #FA9C67;
	--orange-alpha: rgba(250, 156, 103, 0.6);
	--grey: #E3E3DD;
}

body {
	margin: 0
}

/* .body-light {
	background-color: var(--cream);
	background-image: url('../static/images/fond-dataviz.png');
	background-size: cover;
	background-position: -10%;
} */

@font-face {
	font-family: 'Strong-concrete';
	src: url('../static/fonts/StrongConcrete-Bold.woff2') format('woff2'),
		url('../static/fonts/StrongConcrete-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Georgia-regular';
	src: url('../static/fonts/Georgia.woff2') format('woff2'),
		url('../static/fonts/Georgia.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Georgia-bold';
	src: url('../static/fonts/Georgia-Bold.woff2') format('woff2'),
		url('../static/fonts/Georgia-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Akira';
	src: url('../static/fonts/akira_expanded.woff2') format('woff2'),
		url('../static/fonts/akira_expanded.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

[class*=reveal-] {
	opacity: 0;
	transform: translateY(30px)
}

.reveal-visible {
	opacity: 1;
	transform: translateY(0);
	transition: 1s cubic-bezier(0.83, 0, 0, 1)
}

.reveal-1 {
	transition-delay: 0.5s
}

.page-dot {
	background-color: var(--black);
	opacity: 1;
	width: 15px;
	height: 15px;
	margin: 10px 0
}

.page-dot.is-active {
	background-image: url('../static/images/active-dot.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.splide__arrow {
	background-color: transparent;
}

.slide-arrows svg {
	fill: var(--black);
	width: 20px;
	height: 20px;
}

.splide__pagination--on-left {
	right: auto;
}