:root {
	--black: #000000;
	--white: #ffffff;
	--cream: #FCFCF5;
	--green: #649F8E;
	--orange: #FA9C67;
}

body {
	margin: 0;
	background-color: #FCFCF5;
}

@font-face {
	font-family: 'Strong-concrete';
	src: url('../static/fonts/StrongConcrete-Bold.woff2') format('woff2'),
		url('../static/fonts/StrongConcrete-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Georgia-regular';
	src: url('../static/fonts/Georgia.woff2') format('woff2'),
		url('../static/fonts/Georgia.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Georgia-bold';
	src: url('../static/fonts/Georgia-Bold.woff2') format('woff2'),
		url('../static/fonts/Georgia-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Akira';
	src: url('../static/fonts/akira_expanded.woff2') format('woff2'),
		url('../static/fonts/akira_expanded.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

[class*=reveal-] {
	opacity: 0;
	transform: translateY(30px)
}

.reveal-visible {
	opacity: 1;
	transform: translateY(0);
	transition: 1s cubic-bezier(0.83, 0, 0, 1)
}

.reveal-1 {
	transition-delay: 0.5s
}